@font-face {
    font-family: 'Gilroy';
    src: url("../../public/fonts/Gilroy-Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Gilroy', sans-serif;
    box-sizing: border-box;
}

#app{
    position: relative;
}